<div class="widget-wrap">
	<h3 class="widget-title"><%= __('links') %></h3>
    <div class="widget">
		<ul class="entry">
			<li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
			<li><a href="http://gengbiao.me" target="_blank" title="coney">coney's Blog</a></li>
			<li><a href="http://mycodebattle.com/" target="_blank" title="PureFrog">PureFrog</a></li>
			<li><a href="http://ijiaober.Github.io/" title="ijiaober's Blog">GoonX</a></li>
		</ul>
	</div>
</div>