<div class="search">
  <form>
    <input id="search" class="search" type=search" name="q" results="0" placeholder="<%= __('search') %>">
  </form>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

  _st('install','axWAd67nrkeuySDPqsN6');
</script>
</script>
</div>
<div id="st-results-container"></div>